
    
      <div class="container" >
      <h1 class="titulo">Home</h1>
      <p class="texto">O sistema Shopping Cart se inicia com a tela Home, onde pode se visualizar todos os produtos 
      localizados na loja. Porém, para que se faça alguma ação, como por exemplo "Comprar", o usuário
      terá que efetuar o login dentro do sistema para dar continuidade no processo.</p>
      <img class = "img" src="../../../assets/img/Tela_Home.png" alt="imagem se refere a tela Home">
      <h1 class="titulo">Categoria</h1>
     <p class="texto">No menu específico, pode realizar uma inclusão de um novo registro. 
      Sendo assim, o usuário tem a possibilidade de definir o nome e uma descrição para controle de estoque/pedido. 
      Também é possível filtrar as categorias, filtrando por código, Nome, ou Descrição. </p>
      <img class="img" src="../../../assets/img/Tela_Categoria.png" alt="imagem se refere a tela de categorias">

    <h1 class="titulo">Produto</h1>
    <p class="texto"> Na tela de produtos, o usuário visualizará todos os produtos disponíveis na loja, seguindo a mesma linha de raciocínio do menu anterior, onde os filtros funcionam da mesma forma. 
    Entretando com a inserção de uma nova coluna denominada "Preço", facilitando o usuário a buscar os registros de uma nova forma.</p>    
    <img class="img" src="../../../assets/img/Tela_Produto.png" alt="imagem se refere a tela de produtos">

    <h1 class="titulo">Pedidos</h1>
    <p class="texto"> Aqui pode ser visualizado os pedidos feitos pelos usuários, informando o código do pedido, o usuário, data do pedido e o valor total do pedido.  
     A opção de filtros é a mesma que em todos os menus, podendo filtrar pelos dados informados acima, possibilitando alterar alguma informação ou até mesmo excluindo algum pedido.</p>   
    <img class="img" src="../../../assets/img/Tela_Pedido.png" alt="imagem se refere a tela de pedidos">
    
    <h1 class="titulo">Usuários</h1>
    <p class="texto"> Usuários são agentes externos do sistema, ou seja, caso o colaborador necessite de um login para realizar suas atividades você deve clicar em "Novo" e definir:  
     Nome; E-mail; CPF; CEP; Estado; Cidade; Bairro; Rua; Número; Complemento.</p>   
    <img class="img" src="../../../assets/img/Tela_Usuário.png" alt="imagem se refere a tela de usuários">
    
    
    <h1 class="titulo">Itens Pedidos</h1>
    <p class="texto"> Para que consiga manusear os pedidos, é necessário ter os itens cadastrados.    
    Com esses pré requisitos parametrizados(Pedido e produto), o usuário pode incluir um pedido definindo a quantidade, Preço unitário e Preço total.</p>   
    <img class="img" src="../../../assets/img/Tela_ordem_Pedidos.png" alt="imagem se refere a tela de itens pedidos"></div>

  
    