
    <h1 class="titulo"> Sobre </h1> 
    <p class="texto">O sistema foi desenvolvido pelos desenvolvedores João Brun e Abdu Tarabay. <br>
O objetivo do Shopping Cart é possibilitar a realização de compras online. Entretanto, há muito mais informações por trás dessa definição.
Atualmente, o modelo pode ser usado tanto em computadores, como em dispositivos móveis. 
Independente do meio, o Shopping Cart tem como intuito ser uma ferramenta para negociações de venda de produtos na internet, 
 de forma a oferecer informações úteis e <br> objetivas — como preço, descrições dos itens, formas de pagamento e entrega. </p>
