.titulo {
    font-size: 56px;
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}
.texto{
    font-size: 20px;
    text-align: justify;
    padding: 50px;
}