<mat-toolbar>
    <button *ngIf="showSidenav" mat-icon-button class="btn-icon" aria-label="sidebar" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon class="mat-icon-menu">menu</mat-icon>
    </button>
    <span class="logo">Shopp Cart</span>
    <span class="example-spacer"></span>
    <button *ngIf="showSidenav" matTooltip="Carrinho" mat-icon-button routerLink="carrinho">
        <mat-icon class="mat-icon-menu">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="mr-1" matTooltip="Home" routerLink="home">
        <mat-icon class="mat-icon-menu">home</mat-icon>
    </button>
    <button mat-icon-button class="mr-1" matTooltip="Sobre"  routerLink="sobre">
        <mat-icon class="mat-icon-menu">ballot</mat-icon>
    </button>
    <button mat-icon-button class="mr-1" matTooltip="tutorial"  routerLink="tutorial">
        <mat-icon class="mat-icon-menu">list_alt</mat-icon>
    </button>
    <button mat-icon-button class="mr-1" matTooltip="login"  routerLink="login">
        <mat-icon class="mat-icon-menu">login</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container  class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button class="btn-sidenav" routerLink="produto">
            Produtos
        </button>
        <button class="btn-sidenav" routerLink="usuario">
            Usuários
        </button>
        <button class="btn-sidenav" routerLink="pedido">
            Pedidos
        </button>
        <button class="btn-sidenav" routerLink="categoria">
            Categorias
        </button>
        <button class="btn-sidenav" routerLink="item-pedido">
            Itens Pedidos
        </button>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>